.speakers {
  background-image: url("~/assets/images/speakers.svg"), url("~/assets/images/speakers-2.svg");
  background-position: top center, bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.speakers-container {
  margin: -40px;
}

.speakers--item {
  width: 50%;
  padding: 40px;
}

.speakers--item--content {
  display: flex;
  background: $color-1;
  height: 300px;
}

.speakers--item--content--image {
  width: 200px;
  height: 300px;

  img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
}

.speakers--item--content--info {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
}

.content--info-title {
  margin-bottom: 16px;
  display: block;
  color: $color-4;
  font-weight: bold;
  font-size: 24px;
}

.content--info-social {
  margin-top: 20px;

  li {
    margin-right: 16px;
  }

  a {
    color: $color-3;
    font-size: 20px;
    transition: .3s;

    &:hover {
      color: $color-white;
    }
  }
}

@media (max-width: 768px) {
  .speakers--item {
    width: 100%;
  }
}
