.support {
  background: $color-white;
  padding: 80px 40px;
  border-radius: 20px;
}

.support--block {
  position: relative;
}

.support--title {
  color: $color-4;
  font-size: 40px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 60px;
}

.support--type {
  color: $color-4;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
}

.support--list {
  display: flex;
  overflow-x: auto;
}

.support--item {
  padding: 20px;
}

.support--image {
  max-width: 150px;
}

.diamond {
  max-width: 200px;
}

.gold {
  max-width: 175px;
}

.silver {
  max-width: 150px;
}
