.size {
  width: 1366px;
  max-width: 90%;
}

.size-padding {
  width: calc(1366px + 40px);
  max-width: 90%;
}

.margin {
  margin: 0 auto;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.full-width {
  width: 100%;
}

.bg-footer {
  background: $color-4;
  background: url("~/assets/images/footer.svg"), $color-4;
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
}
