.btn {
  font-size: 16px;
  line-height: 100%;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  padding: 15px 30px;
  border-radius: 200px;
  cursor: pointer;
  border: 1px solid transparent;
  background: $color-white;
  color: $color-4;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: 0.2s;
  font-family: inherit;
  text-transform: uppercase;

  a {
    text-decoration: none;
  }

  &.btn-active,
  &:hover {
    background-color: darken($color-white, 20);
  }

  &.btn-fit {
    width: fit-content;
  }

  // sizes
  &.btn-sm {
    font-size: 14px;
    padding: 10px 20px;
  }

  &.btn-lg {
    font-size: 20px;
    padding: 20px 40px;
  }

  &.btn-full {
    width: 100%;
  }

  // colors
  &.btn-primary {
    background: $color-1;
    color: $color-white;

    &:hover {
      background: darken($color-1, 10);
    }
  }
  &.btn-secundary {
    background: $color-4;
    color: $color-white;
    border: 2px solid $color-1;

    &:hover {
      background: darken($color-1, 10);
      border-color: darken($color-1, 10);
    }
  }

  &.btn-outline {
    background: transparent;
    border: 2px solid $color-white;
    color: $color-white;

    &:hover {
      background: $color-white;
      color: $color-4;
    }

    &.btn-primary {
      border-color: $color-1;
      color: $color-1;

      &:hover {
        color: $color-white;
        background: $color-1;
      }
    }

    &.btn-secundary {
      border-color: $color-4;
      color: $color-4;

      &:hover {
        color: $color-white;
        background: $color-4;
      }
    }
  }

  &.btn-rounded {
    border-radius: 50px;
  }

  // disabled
  &.btn.disabled,
  &.btn:disabled,
  &.btn[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
    background: $color-grey;
    color: $color-4;

    &:hover {
      filter: none;
    }
  }

  &.btn-min-width {
    width: 150px;
  }

  &.btn-link {
    padding: 20px;
  }

  &.btn-transparent {
    background: transparent;

    &:hover {
      opacity: 0.5;
    }
  }
}

// .btn {
//   border-radius: 6px;
//
//   &:hover {
//     background-color: darken(#ddd, 20);
//   }
//
//   &.btn-primary {
//     background: $color-1;
//
//     &:hover {
//       background-color: darken($color-1, 20);
//     }
//   }
//
//   &.btn-secundary {
//     background: $color-4;
//
//     &:hover {
//       background-color: darken($color-4, 10);
//     }
//   }
// }
//
// .btn:hover {
//   filter: brightness(100%);
// }
