.color-primary {
  color: $color-1;
}

.background-primary {
  background: $color-1;
}

.color-secundary {
  color: $color-4;
}

.background-secundary {
  background: $color-4;
}

.color-third {
  color: $color-white;
}

.background-third {
  background: $color-white;
}
