h1 {
  font-size: 64px;
}

h2 {
  font-size: 46px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

.span-uppercase {
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.box-title {
  text-transform: uppercase;
  margin-bottom: 100px;

  h2 span {
    display: block;
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 10vw;
    }
  }
}

.list-style-none {
  list-style: none;
}

h2 span {
  display: block;

  @media screen and (max-width: 720px) {
    font-size: 7vw;
  }
}

.font-strong {
  font-weight: bold;
}
