// green/black
$color-white: #ffffff;
$color-1: #15a04b;
$color-2: #007841;
$color-3: #004425;
$color-4: #092E17;
$color-grey: #ddd;

$radius: 20px;

// red/blue
// $color-1: #f53855;
// $color-2: #F98E9E;
// $color-white: #fff;
// $color-4: #10145b;
